<div class="container-fluid my-3 mx-3">
    <h1>Course Evaluation</h1>
    <hr class="my-4">
</div>
<div class="container my-4 mx-5">
    <div class="container">
        <h3 class = "mb-4">Grade Distribution</h3>
        <table class="table table-sm">
        <!--Grade Scale-->
        <thead class = "thead-light">
            <tr>
                <th scope="col-auto">A</th>
                <th scope="col-auto">B</th>
                <th scope="col-auto">C</th>
                <th scope="col-auto">D</th>
                <th scope="col-auto">F</th>
                <th scope="col-auto">W</th>
                <th scope="col-auto">Total</th>
            </tr>
        <!--Inputs-->
        </thead>
        <tbody>
            <tr>
                <td scope = "col-auto">
                    <div class="form-group">
                        <input type="text">
                    </div>
                </td>
                <td scope = "col-auto">
                    <div class="form-group">
                    <input type="text">
                    </div>
                </td>
                <td scope = "col-auto">
                    <div class="form-group">
                    <input type="text">
                    </div>
                </td>
                <td scope = "col-auto">
                    <div class="form-group">
                    <input type="text">
                    </div>
                </td>
                <td scope = "col-auto">
                    <div class="form-group">
                        <input type="text">
                    </div>
                </td>
                <td scope = "col-auto">
                    <div class="form-group">
                    <input type="text">
                    </div>
                </td>
                <td scope = "col-auto">
                    <div class="form-group">
                    <input type="text">
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    </div>
</div>
<div class="container my-4 mx-5">
    <h3 class = "mb-4">Result of the Course</h3>
   <hr> 
   <div class="form-group">
        <label for="exampleFormControlTextarea1">Example textarea</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
 
</div>
<div class="container my-4 mx-5">
    <h3 class = "mb-4">Modifications Made to Course</h3>
    <hr>
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Example textarea</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
</div>
<div class="container my-4 mx-5">
    <h3 class = "mb-4">Course Reflection</h3>
    <hr>
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Example textarea</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
</div>
<div class="container my-4 mx-5">
    <h3 class = "mb-4">Proposed Action for Course Improvement</h3>
    <hr>
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Example textarea</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
</div>
<div class="container text-right pt-2">
    <hr class= "my-2">
    <div class="row">
        <div class="col">
            <div class="btn-group" role="group" aria-label="Next-Save-Cont">
                <button type="button" class="btn btn-secondary" href="professorInput.hbs">Next</button>
                <button type="button" class="btn btn-secondary">Save Evaluation</button>
                <button type="button" class="btn btn-secondary" disabled>Finish</button>
            </div>
        </div>
    </div>
</div>
