<div class="container my-3 mx-3">
    <h1>Course Evaluation</h1>
    <hr class="my-4">
</div>
<div class="container my-4 mx-5">
    <div class="container">
        <table class="table">
        <!--Grade Scale-->
        <thead>
            <tr>
            <th scope="col">A</th>
            <th scope="col">B</th>
            <th scope="col">C</th>
            <th scope="col">D</th>
            <th scope="col">F</th>
            <th scope="col">W</th>
            <th scope="col">Total</th>
            </tr>
        <!--Inputs-->
        </thead>
        <tbody>
            <tr>
            <td>
                <div class="form-group">
                    <input type="text">
                </div>
            </td>
            <td>
                <div class="form-group">
                <input type="text">
                </div>
            </td>
            <td>
                <div class="form-group">
                <input type="text">
                </div>
            </td>
            <td>
                <div class="form-group">
                <input type="text">
                </div>
            </td>
            <td>
                <div class="form-group">
                    <input type="text">
                </div>
            </td>
            <td>
                <div class="form-group">
                <input type="text">
                </div>
            </td>
            <td>
                <div class="form-group">
                <input type="text">
                </div>
            </td>
    </div>
</div>