<div class="container-fluid">
  <h2>Create</h2>
  <h4>Outcome</h4>
  <hr class="my-4">

  <form action="{{base_url}}create" method="post">
    <div class="row">
      <div class="col-2 align-self-center text-right"><strong>Name</strong></div>
      <div class="col-8"><input class="form-control" name="data[name]" type="text" placeholder="Outcome Name"></div>
    </div>
    <div class="row my-4">
      <div class="col-2 align-self-center text-right"><strong>Description</strong></div>
      <div class="col-8"><input class="form-control" name="data[desc]" type="text" placeholder="Outcome Description">
      </div>
    </div>
    <div class="row">
      <div class="col-2 align-self-center text-right"><strong>Study Program</strong></div>
        <select type="text" name="data[std_prg]" required>
          {{#each results}}
            <option class="dropdown-item" value="{{prog_ID}}">{{prog_name}}</option>
          {{/each}}
        </select>
    </div>
    <div class="row my-4">
      <div class="col-2"></div>
      <div class="col"><button type="submit" class="btn btn-outline-secondary">Create</button></div>
    </div>
  </form>
  <p><a href="{{base_url}}">Back to List</a></p>
  <hr class="my-3">
  <p>&copy; 2019 - Universidad Interamericana Puerto Rico Bayam&oacute;n Campus</p>
</div>
