<div class="container-fluid">
  <h1>Details </h1>
  <h1>Outcome</h1>
  <a href="study_programs_index.html" class="btn btn-primary">Back</a>
  <hr class="mt-4">
  <hr class="my-2">
  <div class="row">
      <div class="col"><strong>Name</strong></div>
      <div class="col"><strong>Outcome ID</strong></div>
      <div class="col"><strong>Description</strong></div>
      <div class="col"><strong>Study Program ID</strong></div>
      <div class="col"><strong>Date Created</strong></div>
      <div class="col"></div>
  </div>
  <hr class="my-2">
  <div class="row">
      <div class="col">Outcome name</div>
      <div class="col">1</div>
      <div class="col">Outcome Description</div>
      <div class="col">1</div>
      <div class="col">8/21/2019</div>
      <div class="col"><button type="button" class="btn btn-warning" style="color:#FFFFFF">Edit</button> <button type="button" class="btn btn-danger">Delete</button></div>
  </div>
</div>
<p>&copy; 2019 - Universidad Interamericana Puerto Rico Bayam&oacute;n Campus</p>
