<%- include ('../partials/header') -%>
<div class = "container-fluid my-5 sticky-left">
    <div class = "row">
        <% if(hasAdminPrivilege){ %> 
            <div class="col-2">
                <div class="btn-group-vertical">
                    
                    <% adminOptions.forEach(option => { %>
                        <a class="btn btn-dark inter-green-btn btn-lg" role="button" href="<%=option["url"]%>">
                            <%=option["name"]%>
                        </a>                     
                    <% }) %>
                </div>
            </div>
        <% }%> 

        <div class="col">
            <div class="jumbotron px-5">
                <h1 class="display-4">Welcome to ABET Assessment</h1>
                <hr class="mb-3">
                <h3 class="text-right">Administrative Section</h3> 
            </div>
        </div>
    </div>
</div>
<%- include ('../partials/footer') -%>