<div class = "container">
  <h1>Delete </h1>
  <hr>
  <!-- Middle line -->
  <h3>Are you sure you want to delete this?</h3>
  <h5>Term</h5>
  <hr>
  <!-- First row that will contain the table header -->
  <div class = "row">
          <div class = "col-lg-4 label"><strong>TermName</strong></div>
          <div class = "col-lg-8">School Term 1</div>
  </div>
  <div class = "row">
          <div class = "col-lg-4 label"><strong>Start Date</strong></div>
          <div class = "col-lg-8">3/25/2019 12:00:00 AM</div>
  </div>
  <div class = "row">
    <div class = "col-lg-4 label"><strong>DateCreated</strong></div>
    <div class = "col-lg-8">3/31/2019 12:00:00 AM</div>
   </div>
  <div class = "row">
          <div class = "col-lg-4 label"><strong>DateCreated</strong></div>
          <div class = "col-lg-8">3/23/2019</div>
  </div>
  <div class = "row">
      <div class = "col-lg-4"><button type="button" class="btn btn-light">Delete</button> | <a href="schoolTerm"> Back to List</a></div>
  </div>
  <hr>
  <p>© 2019 - Universidad Interamericana Puerto Rico Bayamon Campus</p>
</div>
