<div class="wrapper">
  <div class="container">
    <div class="row">
      <h1>Term</h1>
        <div class="col-sm-12">
          <form>
            <div class="row">
              <div class="col-sm-2">
                <label>TermName</label>
              </div>
              <div class="col-sm-10">
                <input class="form-control" type="text" placeholder="Rubric Name">
              </div>
            </div>
            <div class="row">
              <div class="col-sm-2">
                <label>Start Date</label>
              </div>
              <div class="col-sm-10">
                <input class="form-control" type="text" placeholder="Start Date">
              </div>
            </div>
            <div class="row">
              <div class="col-sm-2">
                <label>End Date</label>
              </div>
              <div class="col-sm-10">
                <input class="form-control" type="text" placeholder="End Date">
              </div>
            </div>
            <div class="row">
              <div class="col-sm-2">
                <label>Date Created</label>
              </div>
              <div class="col-sm-10">
                <input class="form-control" type="text" placeholder="Date Created">
              </div>
            </div>
          </form>
        </div>
        <button id="createModalbtn" type="button" class="btn">Save</button>
      </div>
    </div>
  </div>
</div>
