<script>

    //RELOAD PAGE WHEN USER CLICK BACK BUTTON
window.addEventListener("pageshow", function (event) {
    var historyTraversal = event.persisted ||
        (typeof window.performance != "undefined" &&
            window.performance.navigation.type === 2);
    if (historyTraversal) {
        // Handle page restore.
        window.location.reload();
    }
});
</script>

<div class="wrapper">
  <div class="container">
    <div class="row">
      <h1>School Terms</h1>
      <div class="col-sm-12">
        <!-- Create New Button -->
        <!-- Trigger/Open The Modal -->
        <a href="/schoolTerm/create" class="btn btn-success" role="button">Create New</a>
        <!-- Table -->
        <table class="table">
          <thead>
            <form action="{{create}}" method="post">
            <tr>
              <th scope="col">Term Name</th>
              <th scope="col"> </th>
              <th scope="col"> </th>
              <th scope="col"> </th>
            </tr>
          </thead>
          <tbody>
            {{#each results}}
            <tr>
              <td>{{this.term_name}}</td>
              <td> </td>
              <td> </td>
              <td>
                <a href="/schoolTerm/{{this.term_ID}}/edit" type="submit" class="btn btn-warning" style="color:#FFFFFF"
                    name="editButton">Edit</a>
                <a href="/schoolTerm/{{this.term_ID}}/remove" type="submit" class="btn btn-danger">Delete</a>
              </td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
