<script>

    //RELOAD PAGE WHEN USER CLICK BACK BUTTON
window.addEventListener("pageshow", function (event) {
    var historyTraversal = event.persisted ||
        (typeof window.performance != "undefined" &&
            window.performance.navigation.type === 2);
    if (historyTraversal) {
        // Handle page restore.
        window.location.reload();
    }
});
</script>

<div class="container">
    <h1>School Terms</h1>
      <!-- Create New Button -->
      <!-- Trigger/Open The Modal -->
      <a href="/schoolTerm/create" class="btn btn-success" role="button">Create New</a>
    <hr class="my-4">
  <!-- Table -->
  <div class="row bg-dark text-light">
    {{!-- <form action="{{create}}" method="post"> --}}
    <div class="col-10 my-3"><strong>Term Name</strong></div>
    <div class="col"></div>
  </div>
  {{#each results}}
  <div class="row btn-light py-3">
    <div class="col-10">{{this.term_name}}</div>
    <div class="col">
      <a href="/schoolTerm/{{this.term_ID}}/edit" type="submit" class="btn btn-dark" name="editButton">Edit</a>
      <a href="/schoolTerm/{{this.term_ID}}/remove" type="submit" class="btn btn-danger">Delete</a>
    </div>
  </div>
  {{/each}}
</div>