<div class="container-fluid">
  <hr class="mt-5">
  <p>&copy; 2020 - CoRe Labs - Universidad Interamericana de Puerto Rico - Bayam&oacute;n Campus</p>
</div>

<!-- LOADING JQUERY -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
<script src="/javascripts/validation.js"></script>

<!-- DELETE MODAL LOGIG -->
<script src="/javascripts/modals/delete_modal.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


</body>

</html>