
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootsrapt CSS Link -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    <!-- Icons -->
    <script src="https://kit.fontawesome.com/6114d6256f.js" crossorigin="anonymous"></script>

    <style>
      .inter-green {
        background-color: #00833e !important;
        color: #FFF !important;
      }
    </style>
    <!-- Page Source css -->
    <!-- <link rel="stylesheet" href="css/Evaluation_css.css"> -->
    <title><%= title %></title>
  </head>
    <body>
        
      <nav class="navbar navbar-expand-lg navbar-dark shadow inter-green">
        
        <a class="navbar-brand" href="/"><%= title %></a>
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="<%= signInUrl %>">Login to Office</a>
            </li> 
            <li class="nav-item">
              <a class="nav-link" href="<%= signOutUrl %>">Logout</a>
            </li> 
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sections
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/users">Users</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/courses">Courses</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/department">Departments</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/evaluation">Evaluation Rubric</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/outcomes">Outcomes</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/performanceCriteria">Performance Criteria</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/studyPrograms">Study Program</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/schoolTerm">Terms</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/assessment/chooseCourseTerm">Assesment</a>
            </li>
          </ul>
        </div>
      </nav>
