<div class="modal fade" id="userInformationModal" tabindex="-1" role="dialog" aria-labelledby="feedbackContainer"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="userTitle"> My Information</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body userContainer">
                
                <h5 style="text-align: center;">You have <span id="privileges"></span> Privileges</h5>

                <h5>What you can do: </h5>
    
                <ul id="canDo">
                    
                </ul>
    
                <h5 style="text-align: left;"> <span id="notes"></span></h5>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>