<div class = "container">
  <h1>1234 - Computer Engineering Introduction Details</h1>
  <!-- Blue Back Button -->
  <button type="button" class="btn btn-primary">Back</button>
  <!-- Middle line -->
  <hr>
  <!-- First row that will contain the table header -->
  <div class = "row">

      <div class = "col-lg-1"><strong>Course ID</strong></div>
      <div class = "col-lg-1"><strong>Course Number</strong></div>
      <div class = "col-lg-3"><strong>Course Name</strong></div>
      <div class = "col-lg-3"><strong>Description</strong></div>

      <div class = "col-lg-2"><strong>Date Created</strong></div>
  </div>
  <hr>
  <!-- First row of info -->
  <div class = "row">
          <div class = "col-lg-1">1</div>
          <div class = "col-lg-1">1234</div>
          <div class = "col-lg-3">Computer Engineering Introduction</div>
          <div class = "col-lg-3">Description of Computer Engineering Introduction</div>

          <div class = "col-lg-2">3/3/2019</div>
          <div class = "col-lg-1"><button type="button" class="btn btn-warning"><a href="editCourses">Edit</a></button></div>
         <div class = "col-lg-1"><button type="button" class="btn btn-danger"><a href="deleteCourses">Delete</a></button></div>
  </div>
  <hr>
</div>
