<div class = "container">
  <h1>1234 - Computer Engineering Introduction Details</h1>
  <p>Course</p>
  <!-- Middle line -->
  <hr>
  <form>
    <div class="form-group">
      <div class = "row">
          <div class = "col-lg-2"><strong>Number</strong></div>
          <div class = "col-lg-10"><input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Number"></div>
      </div>

      <div class = "row">
          <div class = "col-lg-2"><strong>Name</strong></div>
          <div class = "col-lg-10"><input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Name"></div>
      </div>
      <div class = "row">
          <div class = "col-lg-2"><strong>Description</strong></div>
          <div class = "col-lg-10"><input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Description"></div>
      </div>
      <div class = "row">
              <div class = "col-lg-2"></div>
              <div class = "col-lg-10"><button type="button" class="btn btn-light">Save</button></div>
      </div>
      <div class = "row">
              <div class = "col-lg-2 link"><a href="courses">Back to List</a></div>
      </div>
      <hr>
  <p>© 2019 - Universidad Interamericana Puerto Rico Bayamon Campus</p>
</div>
