<div class = "container">
  <h1>Courses</h1>
  <hr>
  <!-- Green Create New Button -->
  <button type="button" class="btn btn-success"><a href="{{create}}">Create New</a></button>
  <!-- Middle line -->
  <hr>
  <!-- First row that will contain the table header -->
  <div class = "row">
          <div class = "col-lg-4"><strong>Course Name</strong></div>
          <div class = "col-lg-2"><strong>Course Number</strong></div>
          <div class = "col-lg-2"><strong>Study Program ID</strong></div>
          <div class = "col-lg-2"><strong>Date Created</strong></div>
  </div>
  <hr>
  <!-- First row of info -->
  <div class = "row">
          <div class = "col-lg-4">Computer Engineering Introduction</div>
          <div class = "col-lg-2">1234</div>
          <div class = "col-lg-2">1</div>
          <div class = "col-lg-2">3/3/2019</div>
          <div class = "col-lg-1"><button type="button" class="btn btn-warning">Edit</button></div>
          <div class = "col-lg-1"><button type="button" class="btn btn-danger">Delete</button></div>
  </div>
  <hr>
  <div class = "row">
          <div class = "col-lg-4">Electrical Engineering Introduction</div>
          <div class = "col-lg-2">2222</div>
          <div class = "col-lg-2">2</div>
          <div class = "col-lg-2">3/3/2019</div>
          <div class = "col-lg-1"><button type="button" class="btn btn-warning"><a href="{{edit}}">Edit</a></button></div>
          <div class = "col-lg-1"><button type="button" class="btn btn-danger"><a href="{{deletedetails}}">Delete</a></button></div>
  </div>
  <hr>

  <p>© 2019 - Universidad Interamericana Puerto Rico Bayamon Campus</p>



</div>
