<div class = "container">
  <h1>Courses</h1>
  <hr>
  <form action="/indexCourses" method="POST">
  <!-- Green Create New Button -->
  <a role="button" class="btn btn-success" href="createCourses">Create New</a>
  <!-- Middle line -->
  <hr>
  <!-- First row that will contain the table header -->
  <div class = "row">
          <div class = "col-lg-4"><strong>Course Name</strong></div>
          <div class = "col-lg-2"><strong>Course Number</strong></div>
          <div class = "col-lg-2"><strong>Study Program ID</strong></div>
          <div class = "col-lg-2"><strong>Date Created</strong></div>
  </div>
  <!-- First row of info -->
  <hr>
  {{#each results}}
  <div class = "row">
          <div class = "col-lg-4">{{this.course_name}}</div>
          <div class = "col-lg-2">{{this.course_number}}</div>
          <div class = "col-lg-2">{{this.prog_ID}}</div>
          <div class = "col-lg-2">{{this.date_created}}</div>
          <div class = "col-lg-1"><button type="submit" class="btn btn-warning" href="editCourses">Edit</button></div>
          <div class = "col-lg-1"><button type="submit" class="btn btn-danger" href="deleteCourses">Delete</button></div>
  </div>
  {{/each}}
  <hr>

  <p>© 2019 - Universidad Interamericana Puerto Rico Bayamon Campus</p>



</div>
