<div class="wrapper">
  <div class="container">
    <div class="row">
      <h1>Evaluation Rubric</h1>
      <div class="col-sm-12">
        <!-- Create New Button -->
        <!-- Trigger/Open The Modal -->
        <div id="" class="">
              <div class="">
                <form>
                  <div class="row">
                    <div class="col-sm-2 need">
                      <label>Name</label>
                    </div>
                    <div class="col-sm-10">
                      <input class="form-control" type="text" placeholder="Enter name">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-2 need">
                      <label>Description</label>
                    </div>
                    <div class="col-sm-10">
                      <input class="form-control" type="text" placeholder="Enter description">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-2">
                      <label>Student Outcome</label>
                    </div>
                    <div class="col-sm-10">
                      <select class="form-control">
                        <option value="0">{{options}}</option>
                      </select>
                    </div>
                  </div>
                </form>
              </div
            <div class="">
              <button id="createModalbtn" type="button" class="btn">Create New</button>
              <button id="cancelModalbtn" type="button" class="btn"><a href="evaluation">Cancel</a></button>
            </div>
        </div>
        <!-- ======= Ends ======= -->
      </div>
    </div>
  </div>
</div>
