<div class="wrapper">
  <div class="container">
    <div class="row">
      <h1>Evaluation Rubric</h1>
      <div class="col-sm-12">
        <!-- Create New Button -->
        <!-- Trigger/Open The Modal -->
        <div id="" class="">
              <div class="">
                  <div class="row">
                    <div class="col-sm-2">
                      <label>Name</label>
                    </div>
                    <div class="col-sm-10">
                      <p>{{Name}}</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-2">
                      <label>Description </label>
                    </div>
                    <div class="col-sm-10">
                      <p> {{Description}}</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-2">
                      <label>Student</label>
                    </div>
                    <div class="col-sm-10">
                      <p>{{StudentOutcome}}</p>
                    </div>
                  </div>
                  <div class="row ">
                    <div class="col-sm-2">
                      <label>Date Created</label>
                    </div>
                    <div class="col-sm-10">
                      <p>{{DateCreated}}</p>
                    </div>
                  </div>
              </div>
              <button id="createModalbtn" type="button" class="btn">Delete</button>
              <button id="cancelModalbtn" type="button" class="btn"><a href="evaluation">Back to list</a></button>
            </div>
        </div>
        <!-- ======= Ends ======= -->
      </div>
    </div>
  </div>
</div>
