<%- include ('../partials/header', {signInUrl: signInUrl, signOutUrl: signOutUrl}) -%>

<!--Radio Buttons so that only one outcome can be chosen per assessment -->

<div class = "container-fluid">
<h2>Choose Outcome:</h2>
<hr class="my-4">
    <input type="radio" name="outcomes" value="a"> A<br>
    <input type="radio" name="outcomes" value="b"> B<br>
    <input type="radio" name="outcomes" value="c"> C<br>
    <input type="radio" name="outcomes" value="d"> D<br>
    <input type="radio" name="outcomes" value="e"> E<br>
    <input type="radio" name="outcomes" value="f"> F<br>
    <input type="radio" name="outcomes" value="g"> G<br>
    <input type="radio" name="outcomes" value="h"> H<br>
    <input type="radio" name="outcomes" value="i"> I<br>
    <input type="radio" name="outcomes" value="j"> J<br>
    <input type="radio" name="outcomes" value="k"> K<br>
</div>

<!--Check boxes for future ABET assesment app versions where more than one outcome can be chosen per assessment -->
<div class="container-fluid">
<h2>Choose performance criteria</h2>

<label class="container">A
  <input type="checkbox">
  <span class="checkmark"></span>
</label>

<label class="container">B
  <input type="checkbox">
  <span class="checkmark"></span>
</label>

<label class="container">C
  <input type="checkbox">
  <span class="checkmark"></span>
</label>

<label class="container">D
  <input type="checkbox">
  <span class="checkmark"></span>
</label>

<label class="container">E
  <input type="checkbox">
  <span class="checkmark"></span>
</label>

<label class="container">F
  <input type="checkbox">
  <span class="checkmark"></span>
</label>

<label class="container">G
  <input type="checkbox">
  <span class="checkmark"></span>
</label>

<label class="container">H
  <input type="checkbox">
  <span class="checkmark"></span>
</label>

<label class="container">I
  <input type="checkbox">
  <span class="checkmark"></span>
</label>

<label class="container">J
  <input type="checkbox">
  <span class="checkmark"></span>
</label>

<label class="container">K
  <input type="checkbox">
  <span class="checkmark"></span>
</label>

</div>
<%- include ('../partials/footer') -%>