<%- include ('../partials/header') -%>

    <input type="hidden" id="amountOfCol" name="amountOfCol" value="<%= colNums %> ">
    <form action="/assessment/perfomanceTable" method="post">
      <div class="container">
        <table id="table" class="table">
          <thead>
            <tr id="header">
              <th scope="col">Student</th>
            </tr>
          </thead>
          <tbody id="tableBody">
          </tbody>
          <tr>
            <th></th>
            <td></td>
            <td></td>
            <td><button type="submit" class="btn btn-outline-secondary" id="submit">Submit</button></td>
            <td><input type="button" class="btn btn-outline-secondary" id="addRow" value="Add Row"></td>
            <td><input type="button" class="btn btn-outline-secondary" id="delRow" value="Delete Row"></td>
          </tr>
        </div>
      </div>
    </form>
    <%- include ('../partials/footer') -%>
    <!-- jQuery script -->
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/javascripts/tableTest.js"></script>


