<div class = "container-fluid">
    <div class="jumbotron">
        <h1 class = "display-4">Welcome to ABET Assessment</div>
        <hr class = "mb-5">
        <div class = "row text-right">
            <a href = "{{signInUrl}}" class = "btn btn-success btn-lg"  role="button">Begin here</a>
        </div>
    </div>
</div>