<a type="button" id="option" class="btn btn-primary btn-lg btn-block" href="users">Users</a>
<a type="button" id="option" class="btn btn-primary btn-lg btn-block" href="courses">Courses</a>
<a type="button" id="option" class="btn btn-primary btn-lg btn-block" href="department">Departents</a>
<a type="button" id="option" class="btn btn-primary btn-lg btn-block" href="evaluation">Evaluation Rubric</a>
<a type="button" id="option" class="btn btn-primary btn-lg btn-block" href="outcomes">Outcomes</a>
<a type="button" id="option" class="btn btn-primary btn-lg btn-block" href="performanceCriteria">Performance Criteria</a>
<a type="button" id="option" class="btn btn-primary btn-lg btn-block" href="studyPrograms">Study Program</a>
<a type="button" id="option" class="btn btn-primary btn-lg btn-block" href="schoolTerm">Terms</a>
