<div class = "container-fluid my-5 sticky-left">
    <div class = "row">
        <div class="col-2">
            <div class="btn-group-vertical">
                <a class="btn btn-primary btn-lg" role="button" href="users">Users</a></li>
                <a class="btn btn-primary btn-lg" role="button" href="courses">Courses</a></li>
                <a class="btn btn-primary btn-lg" role="button" href="department">Departments</a></li>
                <a class="btn btn-primary btn-lg" role="button" href="evaluation">Evaluation Rubric</a></li>
                <a class="btn btn-primary btn-lg" role="button" href="outcomes">Outcomes</a></li>
                <a class="btn btn-primary btn-lg" role="button" href="performanceCriteria">Performance Criteria</a></li>
                <a class="btn btn-primary btn-lg" role="button" href="studyPrograms">Study Program</a></li>
                <a class="btn btn-primary btn-lg" role="button" href="schoolTerm">Terms</a></li>
            </div>
        </div>
        <div class="col">
            <div class="jumbotron px-5">
                <h1 class="display-4">Welcome to ABET Assessment</h1>
                <hr class="mb-3">
                <h3 class="text-right">Administrative Section</h3> 
            </div>
        </div>
    </div>l
</div>