<%- include ('partials/header', {signInUrl: signInUrl, signOutUrl: signOutUrl}) -%>

<div class="container-fluid py-3 inter-bg">
    <h2>Log In</h2>
    <div class="card">
        <div class="card-body">
            <form class="needs-validation" novalidate>
                <button href= <%=signInUrl%> class="btn inter-green inter-green-btn">Sign In</button>
            </form>
        </div>
    </div>
</div>

<%- include ('partials/footer') -%>