<body>
  <input type="hidden" id="amountOfCol" name="amountOfCol" value="{{row}}">
  <form action="tableTest" method="post">
    <div class="container">
      <h1>Your Assessment was comepleted!</h1>
    </div>
  </form>
  <!-- jQuery script -->
  <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
  <script type="text/javascript" src="/javascripts/resultTable.js"></script>
