<div class="wrapper">
  <div class="container">
    <form action="create" method="POST">
    <div class="row">
      <h1>Evaluation Rubric</h1>
      <div class="col-sm-12">
        <!-- Create New Button -->
        <!-- Trigger/Open The Modal -->
        <div id="" class="">
              <div class="">
                <form>
                  <div class="row">
                    <div class="col-sm-2 need">
                      <label>Name</label>
                    </div>
                    <div class="col-sm-10">
                      <input class="form-control" type="text" placeholder="Enter Name" name="outc_name" required>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-2 need">
                      <label>Description</label>
                    </div>
                    <div class="col-sm-10">
                      <input class="form-control" type="text" placeholder="Enter Description" name="outc_decription" required>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-2">
                      <label>Student Outcome</label>
                    </div>
                    <div class="col-sm-10">
                      <select class="form-control" name="outc_ID" required>
                        {{#each results}}
                        <option>{{this.outc_ID}}</option>
                        {{/each}}
                      </select>
                    </div>
                  </div>
                </form>
              </div
            <div class="">
              <button role="button" class="btn btn-success">Create New</button>
              <div class = "col-lg-2 link"><a href="/evaluation">Back to List</a>
              </div>
        </div>
        </div>
        <!-- ======= Ends ======= -->
      </div>
    </div>
  </div>
</div>
