
/* Assessment Index Style */

/* Scrollbar CSS Starts here */
/* width */
::-webkit-scrollbar {
	width: 15px;
}

/* Track */
::-webkit-scrollbar-track { 
	border: none;
	border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #dfe5e6; 
	border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #9fa3a3; 
}

/* Srcoolbar CSS Ends Here */

.assessmentContainer {
	height: 500px;
	border: 1px solid #aaaaaa;
	border-radius: 15px;
	overflow-y: auto;
}

.perfomanceTable {
	border: 1px solid #aaaaaa;
	border-radius: 10px;
	height: 100%;
	overflow-y: auto;
}

.barChart{
	text-align: center;
	height: 100%
}

.assessmentReports {
	margin-left: 0;
	margin-top: 2.5%;
	margin-bottom: 2.5%;
	width: auto;
	height: 40%;
	border-radius: 25px;
}

.reportTabs {
	margin-bottom: 0.5rem;
	margin-left: 10%;
}

.card {
	margin-left: 2.5%;
	margin-right: 2.5%;
	width: 15rem;
	height: 20rem;
}

.card-img-top {
	width: 8rem;
	height: 8rem;
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 5%;
}

.card-body {
	width: auto;
	height: 5rem;
}

.card-title {
	margin: 0em;
}

.card-text {
	margin: 0em;
}

.avgRow {
	text-emphasis: center;
}

/* Need to fix this because it's mixin with other pages */

.reportSearch {
	margin-top: 1%;
	margin-left: 2.5%;
	width: 90%;
	height: 35px;
	border: 1px solid #aaaaaa;
	border-radius: 25px;
	padding-left: 10px;
}

input[type=text]:focus:not([readonly]) {
	border: 1px solid #00833e;
	box-shadow: 0 0 0 1px #00833e;
	border-radius: 25px;
	outline: none;
}

.reportSearch::placeholder {
	margin-left: 100px;
}

.picture {
	height: 50%;
	width: 100%;
	padding: 5% 5% 5% 5%;
	border: none;
	box-shadow: none;
}

.assessmentInfo {
	height: 25%;
	width: 100%;
	padding-top: 10%;
	padding-bottom: 10%;
	text-align: center;
	font-size: 16px;
	border: none;
	box-shadow: none;
}

img {
	width: 100%;
	height: 100%;
}

#createNew {
	position: absolute;
	right: 15%;
	padding: 14px 16px;
    font-size: 17px;
}

.btn-group.btn-group-toggle {
	width: 20rem;
}

.dropdown-menu {
	z-index: 999999;
}