/* body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
} */

/* Beginning of custom classes: */
.inter-green {
  background-color: #00833e !important; 
  color: #FFF !important;
}

.inter-green-btn:hover {
  background-color: #00593a !important;
  color: #FFF !important;
}

.inter-yellow {
  background-color: #FED34E !important;
  color: #00833e !important;
}

.inter-yellow-btn:hover {
  background-color: #e3b734 !important;
  color: #00833e !important;
}

.inter-bg {
  background-image: url('../images/inter.jpg') !important;
  background-repeat: no-repeat;
  background-size: cover;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 40%;
  transform: translateY(-40%);
}

.accordion-panel {
  display: none;
}

.collapser-control {
  cursor: pointer;
}

.feedback{
  position: absolute;
  top: 10%;
  left: 15%;
}