<%- include ('../admin/partials/header') -%>

<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="/professor">Home</a></li>
	</ol>
</nav>
<div class="container reportTabs row">
	<div class="btn-group btn-group-toggle" data-toggle="buttons">
		<label class="btn btn-secondary active">
			<input type="radio" name="options" id="option1" checked> In Progress
		</label>
		<label class="btn btn-secondary">
			<input type="radio" name="options" id="option2"> Completed
		</label>
		<label class="btn btn-secondary">
			<input type="radio" name="options" id="option3"> Archived
		</label>
	</div>
	<div class="">
		<button type="button" class="btn btn-success" id="createNew" data-toggle="modal" data-target=".bd-example-modal-lg">Create New</button>
	</div>
</div>
<div class="container assessmentContainer">
	<div class="row search">
			<input class="reportSearch" placeholder="Search" type="text" name="reportSearch">
			<div>Filter</div>
	</div>
	<div class="container assessmentReports">
		<div class="row row-cols-4">
			<div class="card">
				<img src="../images/paper.png" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">{Assessment Name}</h5>
					<p class="card-text">{Course Name}</p>
					<p class="card-text">{Term}</p>
					<p class="card-text">{Rubric Name}</p>
					<p class="card-text">{Date Created}</p>
				</div>
			</div>
			<div class="card">
				<img src="../images/paper.png" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">{Assessment Name}</h5>
					<p class="card-text">{Course Name}</p>
					<p class="card-text">{Term}</p>
					<p class="card-text">{Rubric Name}</p>
					<p class="card-text">{Date Created}</p>
				</div>
			</div>
		</div>
	</div>
</div>
		
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<form action="/assessment/chooseCourseTerm" method="POST">
				<div class ="container">
					<h1 class = "my-4">Create New Assessment</h1>
					<hr class = "my-2 mx-4">
					<!--Term Selection-->
					<div class = "form-group">
						<label for ="chooseStudyProgram">Choose the study program</label>
						<select class="form-control" name = "prog_ID" id="chooseStudyProgram" >
							
						</select>
					</div>
					<!-- Course Selection -->
					<div class="form-group">
						<label for="chooseCourse">Choose the course</label>
						<select class="form-control" name="course_ID" id="chooseCourse" onchange=>
					
						</select>
					</div>
					<!--Term Selection-->
					<div class = "form-group">
						<label for ="chooseTerm">Choose the term</label>
						<select class="form-control" name="term_ID" id="chooseTerm">
						
						</select>
					</div>
					<!-- Evaluation Rubric Selection -->
					<div class = "form-group">
						<label for ="chooseRubric">Choose the rubric</label>
						<select class="form-control" name="rubric_ID" id="chooseRubric">
							
						</select>
					</div>
				</div>
				<!--Nav Buttons-->
		
				<div class="container text-right pt-2">
					<hr class= "my-2">
					<div class="row">
						<div class="col">
							<div class="">
								<button type="submit" class="btn btn-success" id="createNew">Create New</button>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

<script>
	$(document).ready(() => {
		$('#createNew').click(() => {
			console.log("Clicked!");
			$.ajax({
				url: `/assessment/professor/modalInfo`,
				type: 'GET',
				dataType: 'json',
				success: (data) => {
					console.log(data);
					let termOptions = '';
					for(let i = 0; i < data.term.length; i++) {
						termOptions = `<option value = "${data.term[i].term_ID}">${data.term[i].term_name}</option>`;
						$('#chooseTerm').append(termOptions);
					}
				}
			});
		});
	});
</script>

<%- include ('../admin/partials/footer') -%>