<%- include ('../admin/partials/header') -%>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Welcome Professor</h1>
        <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed consequatur, reprehenderit modi
            quo blanditiis error exercitationem delectus voluptates voluptas provident maiores ullam tenetur quas illo
            quam recusandae culpa ipsum magnam!
        </p>
    </div>
</div>
<%- include ('../admin/partials/footer') -%>