<div class="container-fluid">
  <h1>Details </h1>
  <h1>Computer Engineering</h1>
  <a href="study_programs_index.html" class="btn btn-primary">Back</a>
  <hr class="mt-4">
  <hr class="my-2">
  <div class="row">
      <div class="col"><strong>Name</strong></div>
      <div class="col"><strong>Study Program ID</strong></div>
      <div class="col"><strong>Description</strong></div>
      <div class="col"><strong>Department ID</strong></div>
      <div class="col"><strong>Date Created</strong></div>
      <div class="col"></div>
  </div>
  <hr class="my-2">
  <div class="row">
      <div class="col">Computer Engineering</div>
      <div class="col">1</div>
      <div class="col">Computer Engineering Study Program</div>
      <div class="col">1</div>
      <div class="col">3/3/2019</div>
      <div class="col"><button type="button" class="btn btn-warning" style="color:#FFFFFF">Edit</button> <button type="button" class="btn btn-danger">Delete</button></div>
  </div>
</div>
<div class="container-fluid mt-5 mb-4">
  <h1>Add Courses to this Study Program</h1>
  <div class="row justify-content-evenly">
      <div class="col">
          <input class="form-control" type="text" placeholder="Select course">
      </div>
      <div class="col">
          <button type="button" class="btn btn-success">Add</button>
      </div>
  </div>
  <hr class="mt-4 mb-2">
  <div class="row">
      <div class="col"><strong>Course Number</strong></div>
      <div class="col"><strong>Course Name</strong></div>
      <div class="col"></div>
      <div class="col"></div>
  </div>
  <hr class="my-2">
  <div class="row mb-4">
      <div class="col">2222</div>
      <div class="col">Electrical Engineering Introduction</div>
      <div class="col"></div>
      <div class="col"><button type="button" class="btn btn-danger">Remove</button></div>
  </div>
  <a href="study_programs_edit.html">Edit</a> | <a href="study_programs_index.html">Back to List</a>
  <hr class="my-3">
  <p>&copy; 2019 - Universidad Interamericana Puerto Rico Bayam&oacute;n Campus</p>
</div>
