<div class="container-fluid">
  <h2>Departments</h2>
  <hr class="my-4">
  <a href="createDepartment" class="btn btn-success" role="button">Create New</a>
  <hr class="my-2">
  <div class="row">
      <div class="col"><strong>Name</strong></div>
      <div class="col"><strong>Department ID</strong></div>
      <div class="col"><strong>Description</strong></div>
      <div class="col"><strong>Date Created</strong></div>
      <div class="col"></div>
  </div>
  <hr class="my-1">
  <div class="row">
      <div class="col">Engineering</div>
      <div class="col">1</div>
      <div class="col">Department of Engineering</div>
      <div class="col">3/3/2019</div>
      <div class="col"><button type="button" class="btn btn-warning" style="color:#FFFFFF"><a href="editDepartment">Edit</a></button> <button type="button" class="btn btn-danger"><a href="deleteDepartment">Delete</a></button></div>
  </div>
  <hr class="mt-5 mb-1">
  <p>&copy; 2019 - Universidad Interamericana Puerto Rico Bayam&oacute;n Campus</p>
</div>
