<div class="container-fluid">
  <h1>Engineering Details</h1>
  <a href="department" class="btn btn-primary">Back</a>
  <hr class="mt-4">
  <hr class="my-2">
  <div class="row">
      <div class="col"><strong>Name</strong></div>
      <div class="col"><strong>Department ID</strong></div>
      <div class="col"><strong>Description</strong></div>
      <div class="col"><strong>Date Created</strong></div>
      <div class="col"></div>
  </div>
  <hr class="my-2">
  <div class="row">
      <div class="col">Engineering</div>
      <div class="col">1</div>
      <div class="col">Department of Engineering</div>
      <div class="col">3/3/2019</div>
      <div class="col"><button type="button" class="btn btn-warning" style="color:#FFFFFF">Edit</button> <button type="button" class="btn btn-danger">Delete</button></div>
  </div>
</div>
<div class="container-fluid mt-4">
  <h1>Related Study Programs</h1>
  <hr class="mt-4 mb-2">
  <div class="row">
      <div class="col-4"><strong>Name</strong></div>
      <div class="col"><strong>Description</strong></div>
  </div>
  <hr class="my-2">
  <div class="row">
      <div class="col-4">Computer Engineering</div>
      <div class="col">Computer Engineering Study Program</div>
  </div>
  <hr class="my-2">
  <div class="row">
      <div class="col-4">Electrical Engineering</div>
      <div class="col">Electrical Engineering Study Program</div>
  </div>
</div>
<div class="container-fluid mt-5 mb-4">
  <h1>Add an User to this Department</h1>
  <div class="row">
      <div class="col">
          <input class="form-control" type="text" placeholder="Select course">
      </div>
      <div class="col">
          <button type="button" class="btn btn-success">Add</button>
      </div>
  </div>
  <hr class="mt-4 mb-2">
  <div class="row">
      <div class="col"><strong>Name</strong></div>
      <div class="col"><strong>Email</strong></div>
      <div class="col"><strong>Inter ID</strong></div>
      <div class="col"></div>
  </div>
  <hr class="mt-5 mb-3">
  <p>&copy; 2019 - Universidad Interamericana Puerto Rico Bayamon Campus</p>
</div>
