<div class="container-fluid">
  <h1>Edit</h1>
  <h4>Department</h4>
  <hr class="my-4">

  <div class="row my-4">
      <div class="col-2 text-right"><strong>Name</strong></div>
      <div class="col-10"><input class="form-control" type="text" placeholder="Engineering" name="depName" value="{{depName}}" required></div>
  </div>
  <div class="row">
      <div class="col-2 text-right"><strong>Description</strong></div>
      <div class="col-10"><input class="form-control" type="text" placeholder="Department of Engineering" name= "depDesc" value="{{depDesc}} required"></div>
  </div>
  <div class="row my-4">
      <div class="col-2"></div>
      <div class="col"><button type="submit" class="btn btn-outline-secondary">Save</button></div>
  </div>
  <hr class="mt-4">
  <p>&copy; 2019 - Universidad Interamericana Puerto Rico Bayam&oacute;n Campus</p>
</div>
