table tr td:first-child {
    width: 20%;
}

table tr td:nth-child(2) {
    width: 55%;
}

table tr td:nth-child(3), table tr th:nth-child(3) {
    text-align: center;
}


table tr td:last-child,
table tr th:last-child {
    text-align: center;
}