<%- include ('../partials/header', {signInUrl: signInUrl, signOutUrl: signOutUrl}) -%>

<div class="container-fluid">
  <h2>Create</h2>
  <hr class="my-4">
  <!-- TODO: VALIDATE DATA [interID, username, lastname, email, phoneNumber ]-->
  <form action="/users/create" method="POST">
    <div class="row my-4">
      <div class="col-2 align-self-center text-right"><strong>Profile</strong></div>
      <div class="col-8">
        <select type="text" name="profile_id" required>
          <% for (let profile of profiles) {%>
            <option class="dropdown-item" value="<%=profile.profile_ID%>"> <%= profile.profile_Name%> </option>
          <% } %>
        </select>
      </div>
    </div>
    <div class="row my-4">
      <div class="col-2 align-self-center text-right"><strong>Inter ID</strong></div>
      <div class="col-8"><input class="form-control" type="text" placeholder="User Inter ID" name="interID" required></div>
    </div>
    <div class="row my-4">
      <div class="col-2 align-self-center text-right"><strong>Name</strong></div>
      <div class="col-8"><input class="form-control" type="text" placeholder="User Name" name="username" required></div>
    </div>
    <div class="row my-4">
      <div class="col-2 align-self-center text-right"><strong>Last Name</strong></div>
      <div class="col-8"><input class="form-control" type="text" placeholder="User Last Name" name="lastname" required></div>
    </div>
    <div class="row my-4">
      <div class="col-2 align-self-center text-right"><strong>Email</strong></div>
      <div class="col-8"><input class="form-control" type="email" placeholder="User Email" name="email" required></div>
    </div>
    <div class="row my-4">
      <div class="col-2 align-self-center text-right"><strong>Phone Number</strong></div>
      <div class="col-8"><input class="form-control" type="text" placeholder="User Phone Number" name="phoneNumber"
          required></div>
    </div>
    <div class="row my-4">
      <div class="col-2"></div>
      <div class="col"><button type ="submit" class="btn btn-outline-secondary">Create</button></div>
    </div>
    <p><a href="users">Back to List</a></p>
</div>

<%- include ('../partials/footer') -%>