<div class="container-fluid">
  <h2>Create</h2>
  <h4>User</h4>
  <hr class="my-4">
  <div class="row">
      <div class="col-2 align-self-center text-right"><strong>Inter ID</strong></div>
      <div class="col-8"><input class="form-control" type="text" placeholder="User Inter ID"></div>
  </div>
    <div class="row my-4">
      <div class="col-2 align-self-center text-right"><strong>Profile</strong></div>
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Select
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      {{#each profile}}
      <a class="dropdown-item" href="#">{{profile_Name}}</a>
      {{/each}}
    </div>
  </div>
</div>
  <div class="row my-4">
      <div class="col-2 align-self-center text-right"><strong>Name</strong></div>
      <div class="col-8"><input class="form-control" type="text" placeholder="User Name"></div>
  </div>
  <div class="row my-4">
      <div class="col-2 align-self-center text-right"><strong>Last Name</strong></div>
      <div class="col-8"><input class="form-control" type="text" placeholder="User Last Name"></div>
  </div>
  <div class="row my-4">
      <div class="col-2 align-self-center text-right"><strong>Email</strong></div>
      <div class="col-8"><input class="form-control" type="text" placeholder="User Email"></div>
  </div>
  <div class="row my-4">
      <div class="col-2 align-self-center text-right"><strong>Phone Number</strong></div>
      <div class="col-8"><input class="form-control" type="text" placeholder="User Phone Number"></div>
  </div>
  <div class="row my-4">
      <div class="col-2"></div>
      <div class="col"><button type="button" class="btn btn-outline-secondary">Create</button></div>
  </div>
  <p><a href="user_index.html">Back to List</a></p>
  <hr class="my-3">
  <p>&copy; 2019 - Universidad Interamericana Puerto Rico Bayam&oacute;n Campus</p>
</div>
