<div class="container-fluid">
  <h1>Edit</h1>
  <h4>User</h4>
  <hr class="my-4">
 
  <div class="row">
      <div class="col-2 align-self-center text-right"><strong>Inter ID</strong></div>
                                                                {{!-- PARAM Value --}}
      <div class="col-10"><input class="form-control" type="text" value="{{user_id}}" placeholder="User Inter ID"></div>
  </div>
  <div class="row">
      <div class="col-2 align-self-center text-right"><strong>Name</strong></div>
      <div class="col-10"><input class="form-control" type="text" placeholder="User Name"></div>
  </div>
  <div class="row">
      <div class="col-2 align-self-center text-right"><strong>Last Name</strong></div>
      <div class="col-10"><input class="form-control" type="text" placeholder="User Last Name"></div>
  </div>
  <div class="row">
      <div class="col-2 align-self-center text-right"><strong>Email</strong></div>
      <div class="col-10"><input class="form-control" type="text" placeholder="User Email"></div>
  </div>
  <div class="row">
      <div class="col-2 align-self-center text-right"><strong>Phone Number</strong></div>
      <div class="col-10"><input class="form-control" type="text" placeholder="User Phone Number"></div>
  </div>
  <div class="row my-4">
      <div class="col-2"></div>
      <div class="col"><button type="button" class="btn btn-outline-secondary">Save</button></div>
  </div>
  <hr class="my-3">
  <p>&copy; 2019 - Universidad Interamericana Puerto Rico Bayam&oacute;n Campus</p>
</div>
