<%- include ('../partials/header', {signInUrl: signInUrl, signOutUrl: signOutUrl}) -%>

<div class="container-fluid">
	<h2><%= subtitle %></h2>
	<hr class="my-4">
	<form action="/users" method="POST">
		<a href="/users/create" class="btn inter-green inter-green-btn" role="button">Create New</a>
</div>

<%- include ('../partials/body', {signInUrl: signInUrl, signOutUrl: signOutUrl, table_header: table_header,results: results }) -%>

<%- include ('../partials/footer') -%>